h1{
	color: #449ADC;
	text-align: center;
	font-family: 'Lobster', cursive;
}

p{
	text-align: center;
}

h2{
	color: #DD3ADD;
	text-align: center;
	font-family: 'Lobster', cursive;
}

body{
	background-color: #F1CECE;
}

